<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_shoeapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_shoeapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Activity khởi động đầu tiên -->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!-- LoginActivity -->
        <activity
            android:name="ui.auth.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity -->
        <activity android:name="ui.auth.RegisterActivity" />

        <!-- HomeActivity (nếu có) -->
        <activity
            android:name="ui.home.HomeActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="ui.auth.ProfileActivity"
            android:exported="true" />

        <!-- ProductDetailActivity-->
        <activity android:name="ui.product.ProductDetailActivity" />

        <activity
            android:name="ui.home.CartActivity"
            android:exported="true" />
    </application>

</manifest>
